{
	"trailingComma": "es5",
	"tabWidth": 4,
	"useTabs": true,
	"jsxSingleQuote": true,
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"arrowParens": "always",
	"endOfLine": "crlf",
	"semi": false,
	"singleQuote": true
}
